@{
    ViewData["Title"] = "Kursy walut z przeszłości";
}

<h1>@ViewData["Title"]</h1>

@model DateTime
@using (Html.BeginForm("DateReviewSubmitted", "CurrencyDate", FormMethod.Post))
{
    <div>
        @Html.Label("Wybierz walutę")
        @Html.DropDownList("fromCurrency", (SelectList)ViewBag.currencyList, "Wybierz walutę", new {@required =true})
        <div class="invalid-feedback">
            Wybierz walutę.
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Wybierz datę")
        <input type="date" id="fromDate" name="fromDate" min="2002-01-02" max="2024-01-01" value="@Model.ToString("yyyy-MM-dd")" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sprawdź</button>
    </div>
}

@if (ViewBag.exchangeRate != null)
{
    <div class="form-group">
        <label>Exchange Rate:</label>
        <p>@ViewBag.rate</p>
    </div>
}

@section Scripts {
    <script>
        $(function () {
            var submitButton = $('button[type="submit"]');
            submitButton.attr('disabled', true);
            $('select').change(function () {
                if ($(this).val() !== '') {
                    submitButton.attr('disabled', false);
                }
                else {
                    submitButton.attr('disbled', true);
                }
            });
        });
    </script>
}
